@{
    ViewData["Title"] = "Blog";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
}
<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Blog</h1>
                    <p class="mb-4">Chúng tôi chia sẻ những kiến thức và xu hướng mới nhất về giày sneaker. Hãy cùng khám phá!</p>
                    <p><a href="@Url.Action("Index", "SanPham", new { area = "Client" })" class="btn btn-secondary me-2">Mua Ngay</a><a href="@Url.Action("Index", "SanPham", new { area = "Client" })" class="btn btn-white-outline">Khám Phá</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="~/Client/img/sanpham2.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->
<!-- Start Blog Section -->
<div class="blog-section">
    <div class="container">

        <div class="row">

            <div class="col-12 col-sm-6 col-md-4 mb-5">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="~/Client/img/giay1.png" alt="Hình ảnh" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Cách Chọn Giày Sneaker Phù Hợp Với Mọi Phong Cách</a></h3>
                        <div class="meta">
                            <span>by <a href="#">Lê Minh</a></span> <span>on <a href="#">Nov 10, 2024</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-5">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="~/Client/img/sanpham3.png" alt="Hình ảnh" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">5 Mẫu Giày Sneaker Hot Nhất Mùa Thu Đông 2024</a></h3>
                        <div class="meta">
                            <span>by <a href="#">Nguyễn Thùy</a></span> <span>on <a href="#">Nov 5, 2024</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-5">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="~/Client/img/sanpham2.png" alt="Hình ảnh" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Lý Do Giày Sneaker Dành Cho Bạn</a></h3>
                        <div class="meta">
                            <span>by <a href="#">Hoàng Long</a></span> <span>on <a href="#">Oct 30, 2024</a></span>
                        </div>
                    </div>
                </div>
            </div>
        

        </div>
    </div>
</div>
<!-- End Blog Section -->
<!-- Start Testimonial Slider -->
<div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title">Phản hồi của SoleMates</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">

                    <div id="testimonial-nav">
                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider">

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">
                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;SoleMates đã thay đổi cách tôi chọn giày sneaker. Dịch vụ nhanh chóng, sản phẩm chất lượng, và trải nghiệm mua sắm dễ dàng đã khiến tôi rất hài lòng. Tôi sẽ giới thiệu SoleMates đến tất cả bạn bè của mình!&rdquo;</p>
                                        </blockquote>
                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="~/Client/images/anhlong.jpg" alt="PhamDucHieu" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Pham Duc Hieu</h3>
                                            <span class="position d-block mb-3">CEO, Sneaker Enthusiast</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END item -->

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">
                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Những mẫu sneaker tại SoleMates không chỉ có thiết kế đẹp mà còn rất bền bỉ. Đây là nơi đáng tin cậy cho các tín đồ yêu giày sneaker!&rdquo;</p>
                                        </blockquote>
                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="~/Client/images/person-1.png" alt="Tran Ngoc Ha" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Tran Ngoc Ha</h3>
                                            <span class="position d-block mb-3">Sneaker Collector</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END item -->

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">
                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Tôi rất ấn tượng với sự chuyên nghiệp của SoleMates. Từ khâu đặt hàng đến giao hàng, mọi thứ đều nhanh chóng và hiệu quả. Chắc chắn tôi sẽ quay lại!&rdquo;</p>
                                        </blockquote>
                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="~/Client/images/anhlong.jpg" alt="Kim Hoang Long" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Kim Hoang Long</h3>
                                            <span class="position d-block mb-3">Fashion Influencer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END item -->

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">
                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;SoleMates là điểm đến lý tưởng cho các dòng sneaker hot nhất. Sản phẩm đa dạng, giá cả hợp lý, và dịch vụ chăm sóc khách hàng tuyệt vời.&rdquo;</p>
                                        </blockquote>
                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="~/Client/images/anhlong.jpg" alt="Dao Thanh Nam" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Dao Thanh Nam</h3>
                                            <span class="position d-block mb-3">Sneaker Enthusiast & Blogger</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END item -->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Slider -->