@model AppData.Model.DanhMuc

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DanhMuc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="TenDanhMuc" class="control-label"></label>
                <input asp-for="TenDanhMuc" class="form-control" />
                <span asp-validation-for="TenDanhMuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayCapNhat" class="control-label"></label>
                <input asp-for="NgayCapNhat" class="form-control" />
                <span asp-validation-for="NgayCapNhat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayTao" class="control-label"></label>
                <input asp-for="NgayTao" class="form-control" />
                <span asp-validation-for="NgayTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiCapNhat" class="control-label"></label>
                <input asp-for="NguoiCapNhat" class="form-control" />
                <span asp-validation-for="NguoiCapNhat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiTao" class="control-label"></label>
                <input asp-for="NguoiTao" class="form-control" />
                <span asp-validation-for="NguoiTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KichHoat" class="control-label"></label>
                <input asp-for="KichHoat" class="form-control" />
                <span asp-validation-for="KichHoat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


