@model AppData.Model.DiaChi

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DiaChi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdDiaChi" class="control-label"></label>
                <input asp-for="IdDiaChi" class="form-control" />
                <span asp-validation-for="IdDiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label"></label>
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diachi" class="control-label"></label>
                <input asp-for="Diachi" class="form-control" />
                <span asp-validation-for="Diachi" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DiaChiMacDinh" /> @Html.DisplayNameFor(model => model.DiaChiMacDinh)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NgayTao" class="control-label"></label>
                <input asp-for="NgayTao" class="form-control" />
                <span asp-validation-for="NgayTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayCapNhat" class="control-label"></label>
                <input asp-for="NgayCapNhat" class="form-control" />
                <span asp-validation-for="NgayCapNhat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKhachHang" class="control-label"></label>
                <select asp-for="IdKhachHang" class="form-control" asp-items="@(new SelectList(ViewBag.KhachHang, "IdKhachHang", "HoTen"))"></select>
               @*  <input asp-for="IdKhachHang" class="form-control" /> *@
                <span asp-validation-for="IdKhachHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
